attrs
certifi
charset-normalizer
chatbot
ChatterBot
chatterbot-corpus
chatterbot_corpus
click
cmake
colorama
Flask
future
gunicorn
gcc-c++
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mathparse
nltk
Pint
pylibyaml
pymongo
python-dateutil
pytz
pyunicode
PyYAML
regex
related-mltoolbox
requests
ruamel.appconfig
ruamel.std.argparse
six
SQLAlchemy
setuptools
tqdm
urllib3
Werkzeug
yaml-1.3
yaml-config-builder
yaml-doc-fix
yaml-override
yaml-requests
